{% extends "base.html" %}

{% block content %}
<h1 class="title" style="padding-bottom: 5%">
  HKHA fixture scheduler
</h1>

<form action="{{ url_for('main.timetable') }}" method="post">

	<div class="field">
		<label class="label level-left">Start Date</label>
	  <div class="control is-expanded">
		  <input class="input" type="date" id="startDate" name="startDate" placeholder="dd/mm/yyyy" />
	  </div>
	</div>

	<p class="help level-left" style="padding-bottom: 1rem">The date picker is only supported by the Google Chrome or Mozilla Firefox browsers</p>

	<div class="field">
  <label class="label level-left">League</label>
  <div class="control">
    <div class="select">
      <select id="League" name="League">
        <option>Men's</option>
	      <option>Women's</option>
      </select>
    </div>
  </div>
</div>

	<div class="control">
		<button type="submit" class="button is-primary">
			Enter
		</button>
	</div>

</form>

{% endblock %}